# **DISCLAIMER: THIS PROJECT IS STILL A WORK IN PROGRESS**

# 1. Data of Video Game Title Sales

Video games are something that I have been interested in since I was very young. As the industry continues to grow in popularity, it is interesting to look at the sales of specific games to see where the popularity truly lies. 

In this notebook, we are going to analyze this dataset tracking the sales of each individual video game title with over 100k sales up to the year 2016. The dataset was downloaded on Kaggle and the data was scraped from the website vgchartz.com, a website that collects data for everything related to video game sales.

Using this data, we are going to answer some interesting questions such as:<br>
> * Which publisher has sold the most titles during each decade? (80s, 90s, 2000s)<br>
> * Which platform had the highest selling sales during its lifespan?<br>
> * Which genre has sold the most titles overall?<br>

The data was imported into the SQL database videogamesales from a txt file and resides in the table videogamesales (see videogamesales.sql). The txt file was created after I used Pandas to clean and format the data from the original CSV file. This first line of code connects us to the database. Let's SELECT all of the columns from the videogamesales table and limit the output to the first ten columns to keep it clean.

In [1]:
%load_ext sql
%sql mysql+mysqldb://root:8020@localhost/videogamesales

In [2]:
%%sql

SELECT *
FROM videogamesales
LIMIT 10

 * mysql+mysqldb://root:***@localhost/videogamesales
10 rows affected.

[('Wii Sports', 'Wii', 2006, 'Sports', 'Nintendo', 41.49, 29.02, 3.77, 8.46, 82.74),
 ('Super Mario Bros.', 'NES', 1985, 'Platform', 'Nintendo', 29.08, 3.58, 6.81, 0.77, 40.24),
 ('Mario Kart Wii', 'Wii', 2008, 'Racing', 'Nintendo', 15.85, 12.88, 3.79, 3.31, 35.82),
 ('Wii Sports Resort', 'Wii', 2009, 'Sports', 'Nintendo', 15.75, 11.01, 3.28, 2.96, 33.0),
 ('Pokemon Red/Pokemon Blue', 'GB', 1996, 'Role-Playing', 'Nintendo', 11.27, 8.89, 10.22, 1.0, 31.37),
 ('Tetris', 'GB', 1989, 'Puzzle', 'Nintendo', 23.2, 2.26, 4.22, 0.58, 30.26),
 ('New Super Mario Bros.', 'DS', 2006, 'Platform', 'Nintendo', 11.38, 9.23, 6.5, 2.9, 30.01),
 ('Wii Play', 'Wii', 2006, 'Misc', 'Nintendo', 14.03, 9.2, 2.93, 2.85, 29.02),
 ('New Super Mario Bros. Wii', 'Wii', 2009, 'Platform', 'Nintendo', 14.59, 7.06, 4.7, 2.26, 28.62),
 ('Duck Hunt', 'NES', 1984, 'Shooter', 'Nintendo', 26.93, 0.63, 0.28, 0.47, 28.31)]

### Analysis

The variables of the dataset consist of the name of the title, the platform (or console) the game was primarily available on, the year it was released, the genre of the game, the name of the publisher, sales numbers in millions from North American, European Union (including UK since this is pre Brexit), Japan, other (any country outside of these categories) and global (which is just total sales).

As we can see the output, the top 10 titles sold up to 2016 were all published by the Japanese company Nintendo. This makes a lot of sense due to Nintendo priding themselves as a company who makes games for targeted to every demographic and for being trailblazers in regard to hardware innovation. These reasons garnered them massive success outside of Japan, explaining why they fill each top 10 spot. Something I found particularly interesting is that Duck Hunt, a shooter title, is solely on the 10th spot due to its NA sales as its sales outside of that region are mediocre. This was due to Duck Hunt being a game that required a gun-looking controller which definitely had an appeal in a countries such as the United States or Canada where hunting is a popular hobby.

# 2. Finding the number of distinct publishers


Since the top 10 is filled by Nintendo, I would like to see how many other publishers we have in this dataset. Once that is found, I am going to make a query that shows the top 20 publishers based on total global sales which also includes their number of distinct titles and the average number of global sales sold per title.

In [3]:
%%sql
SELECT
    COUNT(DISTINCT Publisher) AS Total_Number_Of_Publishers
FROM videogamesales;

 * mysql+mysqldb://root:***@localhost/videogamesales
1 rows affected.

[(576,)]

In [9]:
%%sql
SELECT
    Publisher,
    ROUND(SUM(Global_Sales), 2) AS Total_Sales,
    COUNT(DISTINCT Name) AS Total_Titles,
    ROUND(SUM(Global_Sales)/COUNT(DISTINCT Name), 2) AS Avg_Title_Sales
FROM videogamesales    
GROUP BY Publisher
ORDER BY Total_Sales DESC
LIMIT 20;

 * mysql+mysqldb://root:***@localhost/videogamesales
20 rows affected.

[('Nintendo', 1784.43, 662, 2.7),
 ('Electronic Arts', 1093.39, 605, 1.81),
 ('Activision', 721.41, 414, 1.74),
 ('Sony Computer Entertainment', 607.28, 621, 0.98),
 ('Ubisoft', 473.54, 571, 0.83),
 ('Take-Two Interactive', 399.3, 201, 1.99),
 ('THQ', 340.44, 406, 0.84),
 ('Konami Digital Entertainment', 278.56, 634, 0.44),
 ('Sega', 270.7, 477, 0.57),
 ('Namco Bandai Games', 253.65, 774, 0.33),
 ('Microsoft Game Studios', 245.79, 179, 1.37),
 ('Capcom', 199.95, 274, 0.73),
 ('Atari', 146.77, 267, 0.55),
 ('Square Enix', 144.73, 160, 0.9),
 ('Warner Bros. Interactive Entertainment', 142.34, 73, 1.95),
 ('Disney Interactive Studios', 118.76, 109, 1.09),
 ('Eidos Interactive', 96.75, 123, 0.79),
 ('LucasArts', 84.95, 42, 2.02),
 ('Bethesda Softworks', 81.53, 29, 2.81),
 ('Midway Games', 69.29, 106, 0.65)]

### Analysis

We can see that Nintendo still regins at the top in total sales by a significant margin within the top 20. They also have the 2nd highest total titles behind Namco Bandai Games and 2nd highest average title sales behind Bethesda Softworks. Ironically, Namco Bandai has the lowest average title sales within the top 20 and Bethesda has the lowest total titles within the top 20. 

Namco Bandai is a publisher that tends to release a high volume of games that reach a more speicific audience, such as games based on anime, and Bethesda is known for taking long stretches of time to develop their games that end up garnering a lot of hype within the gaming community. It is interesting to see that the data reflects these perceptions of these respective publishers.